<div class="row">
  <div class="col-md-3">
    <h1>Welcome to Tunr</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Trump Assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque error laborum unde nihil modi, eius nostrum at cum soluta mollitia ex quibusdam. Doloribus quidem consectetur iusto in aspernatur optio delectus!</p>
  </div>
</div>

<div class="col-md-6">
  <h2>Royal Family Actually Lizards</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus porro nobis aut, accusamus saepe voluptate quia quas ullam animi quasi, assumenda voluptates quos ipsam quis, quisquam dolorem? Eos, fugiat, quo.</p>
</div>

<div class="col-md-3">
  <h2>Flu Epidemic</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque, quis doloribus, eius deserunt, officiis obcaecati fugit ea assumenda et ratione. Excepturi, quam nam inventore illum quas cumque, debitis quis!</p>
</div>
